body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
text-align:center;
}

.hero{
padding:60px;
background:#111;
}

.bar-container{
width:80%;
height:20px;
background:#222;
margin:20px auto;
border-radius:50px;
overflow:hidden;
}

#bar{
height:100%;
width:0%;
background:linear-gradient(90deg,#00ff88,#00ffaa);
transition:0.5s;
}

.donate{
padding:40px;
}

input,textarea{
display:block;
margin:10px auto;
padding:10px;
width:300px;
border-radius:8px;
border:none;
}

button{
padding:12px 30px;
background:#00ff88;
border:none;
cursor:pointer;
font-weight:bold;
}

.list{
padding:40px;
}
